*{
    margin: 0;
  
}
body{
   padding: 1.6rem;
  font-family: "Arimo", sans-serif;
  
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
}
.card-header{
 background-color: #ebebeb;
 text-align: center;



}
.primerdiv{


}
.nav{
    list-style: none;

}
.nav li{
    display: inline-block;
    padding: 0.8rem;
    border: 0.2rem solid rgb(111, 107, 107);
    border-radius: 1.5rem;
    margin: 0rem 1.5rem;
}
.nav li a{
    text-decoration: none;

}
.nav li a:visited{

    color: black;
}
.nav li a:active{
    color: blue;
}

.contenedor{
    background: rgb(229, 227, 227);
    width: 200rem;
    height: 3rem;
    position: relative;
    padding: 2rem;


}
main{
    width: 60rem;
    background-color: rgb(195, 247, 247);
    height: 40rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
main h2{
    font-size: 3rem;
}

main h3{
    color: blue;
    font-size: 1.5rem;
}
 .texto{
    width: 50rem;
    height: 5rem;
 }

 .bo{
   
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1rem;
 }
 .b1{
 background-color: blue;
 color: #ebebeb;
 }
 .b2{
    color: blue;
 }

 .numeros{
    display: flex;
    flex-direction: row;
    gap: 2rem;
 }

 .numeros h2{
color: blue;
font-size: 2rem;
 }
