*{
    margin: 0;
  
}
body{
   padding: 1.6rem;
  font-family: "Arimo", sans-serif;
  
display: flex;
flex-direction: column;
align-items: center;




}
.card-header{
 background-color: #ebebeb;
 text-align: center;


}
.nav{
    list-style: none;

}
.nav li{
    display: inline-block;
    padding: 0.8rem;
    border: 0.2rem solid rgb(111, 107, 107);
    border-radius: 1.5rem;
    margin: 0rem 1.5rem;
}
.nav li a{
    text-decoration: none;

}
.nav li a:visited{

    color: black;
}
.nav li a:active{
    color: blue;
}

.contenedor{
    background: lightgray;
    position: relative;
    padding: 2rem;


}
.idiomas{
    position:absolute;
left: 195rem;
bottom: 4rem;
    
}

:active{
    color: rgb(51, 51, 206);
    font-weight: bold;
    border: 0.2rem brown; 
 
}

.uno{
    background-color: rgb(177, 231, 231);
    position: relative;
    height: 50rem;
    height: 100rem;
    margin: 0rem 6rem;
}

.dos{
    font-size: 5rem;
    position: absolute;
    bottom: 60rem;
    left: 60rem;
 
}
.tres{
       font-size: 4rem;
    position: absolute;
    bottom: 55rem;
    left: 70rem;
    color: blue;
}
.texto{

    position: relative;
    bottom: 59rem;
    left: 50rem;
}

.btn-proyecto{
    background-color: aqua;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid  aqua;
    color:rgb(0, 0, 0) ;
    font-weight: bold;
     position: relative;
      left: 100rem;
 bottom: 50rem
     
}

.btn-info{
 border: 0.2px solid blue;
 background-color: aliceblue;
 padding: 2rem;
 border-radius: 0.8rem;
 color: blue;
 font-weight: bold;
 position: relative;
 left: 70rem;
 bottom: 50rem
}


.numeros{
    font-size: 3rem;
    
}

.n11{
    color: blue;
    position: absolute;
    justify-content: center;
    bottom: 15rem;
    left: 66rem;
}

.n111{
    font-size: 2rem;
       position: absolute;
    justify-content: center;
    bottom: 13rem;
    left: 60rem;
}

.n22{
       color: blue;
    position: absolute;
    justify-content: center;
    bottom: 15rem;
    left: 96rem;
}

.n222{
   font-size: 2rem;
       position: absolute;
    justify-content: center;
    bottom: 13rem;
    left: 90rem;

}

.n33{
        color: blue;
    position: absolute;
    justify-content: center;
    bottom: 15rem;
    left: 1250px;
}

.n333{
       font-size: 2rem;
       position: absolute;
    justify-content: center;
    bottom: 13rem;
    left: 122rem;

}